main {
    background-color: grey;
    font-family: serif;
}

h1, h2, h3 {
    text-align: center;
    color: "";
    margin: auto;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

p.name {
    font-style: italic;
}

#timeline {
    
    margin: auto;
}