body {
  font-family: "Roboto", sans-serif;
  font-size: 21px
}

p {

}

h1 {
    
}

#description {
  
}

.footer-text {
  text-align: center;
  font-style: italic;
}

.required:before {
  content:"* ";
  color: red;
}