:root {
    --color-main: #1B2A41;
    --color-secondary: #0C1821;
    --color-tertiary: #CCC9DC;
    --color-contrast: #FFFFFF;
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0px solid var(--color-secondary);
  }
  
  html, body {
    font-family: 'Roboto', sans-serif, serif;
    width: 100%;
    min-width: 290px;
    line-height: 1.5;
  }
  
  header {
    font-weight: bold;
  }
  
  header h1 {
    padding-left: 5px;
  }
  
  section li {
    margin-left: 2rem;
  }
  
  .no-list {
    list-style-type: none;
  }
  
  @media screen and (min-width: 600px){
    .sidenav {
      position: fixed;
      z-index: 1;
      width: 22vw;
      max-width: 200px;
      border-radius: 0 0 25% 0;
    }
  }
    @media screen and (max-width: 600px){
      .sidenav {
        border-radius: 0;
      }
  }
  .sidenav {
    padding: 0 0 0 0;
    height: 100%;
    background-color: var(--color-main);
    border-right: 3px solid black;
    color: var(--color-contrast);
   }
  
  .sidenav header {
    padding: 5px 0 5px 10px;
  }
  
  .sidenav li {
    display: block;
    margin: 0;
    border-top: 2px solid var(--color-contrast);
  }
  
  a {
    color: var(--color-contrast);
    text-decoration: none;
    display: block;
    padding: 5px 0 5px 10px;
    margin: none;
  }
  
  a:hover {
    background-color: var(--color-contrast);
    color: var(--color-main);
    font-weight: bold;
  }
  
  article {
    margin-left: 22vw;
   }
  
  section {
    padding-top: 10px;  
    padding-left: 5px;
    padding-bottom: 10px;
    border-top: 1px solid var(--color-main);
  }
  
  p {
    padding-top: 1px;
    padding-bottom: 10px;
  }
  
  blockquote {
    margin: 1px 0px 10px 50px;
    padding-left: 15px;
    border-left: 3px solid grey;
  }
  
  
  code {
    font-size: 0.9rem;
    display: block;
    text-align: left;
    background-color: var(--color-tertiary);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
  }